.comments__container {
    display: flex;
    /*justify-content: space-between;*/
    width: 100%;
    margin: 63px -10px 0;
}

@media screen and (max-width: 1200px) {
    .comments__container {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .comments__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 58%;
        margin: 63px auto 0;
    }
}
@media screen and (max-width: 480px) {
    .comments__container {

        width: 100%;
        margin: 45px auto 0;
    }
}

@media screen and (max-width: 320px) {
    .comments__container {
        margin: 33px auto 0;
    }
}