.video__cover {
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .video__cover {
        height: 18em;
    }
}

@media screen and (max-width: 768px) {
    .video__cover {
        height: 12.5em;
    }
}

@media screen and (max-width: 480px) {
    .video__cover {
        height: 12.5em;
    }
}

@media screen and (max-width: 320px) {
    .video__cover {
        height: 12em;
    }
}