.cover__image {
    max-width: 100%;
}

@media screen and (max-width: 1200px) {
    .cover__image {
        min-height: 35em;
    }
}

@media screen and (max-width: 768px) {
    .cover__image {
        min-height: 31.3em;
    }
}

@media screen and (max-width: 480px) {
    .cover__image {
        min-height: 17em;
    }
}

@media screen and (max-width: 320px) {
    .cover__image {
        min-height: 13.5em;
    }
}