.lead__image {
    display: block;
    margin: 0;
    width: 100%;
}

@media screen and (min-width: 1000px) {
    .lead__image {
        height: 554px;
    }
}

@media screen and (max-width: 800px) {
    .lead__image {
        height: 420px;
    }
}

@media screen and (max-width: 650px) {
    .lead__image {
        height: 320px;
    }
}

@media screen and (max-width: 420px) {
    .lead__image {
        height: 211px;
    }
}